{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block container %}
    <nav aria-label="breadcrumb" class="mt-4 ml-n3 h5">
        <ol class="breadcrumb" style="background-color: white;">
            <li class="breadcrumb-item"><a href="{{ url_for('index_view') }}">Каталог</a></li>
            <li class="breadcrumb-item active" aria-current="page">Аккаунт</li>
        </ol>
    </nav>

    <section class="row">
        <div class="col-12 col-lg-8">
            <h1 class="h3 my-4">Личный кабинет. Заказы</h1>
            <h1 class="h5 text-muted">Здравствуйте, {{ current_user.name }}!</h1>
            {% for order in orders|sort(attribute='date', reverse=True) %}
                <div class="my-4 card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-7 col-lg-9">
                                    <span class="h5 font-weight-bold">{{ order.date|date_format_ru }}</span>
                                    <span class="h5">- {{ order.total }} P</span>
                                </div>
                                <div class="col-3 col-lg-2 ml-5 py-2 badge badge-light text-wrap">
                                    {{ order.status }}
                                </div>
                            </div>
                        </li>
                        <div class="card-body">
                            <div class="row">
                                {% for dish in order.dishes %}
                                    <p class="col-4 text-muted">{{ dish.title }}</p>
                                    <p class="col-2 text-muted">1</p>
                                    <p class="col-6 text-muted">{{ dish.price }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
