{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block container %}
    <nav aria-label="breadcrumb" class="mt-4 ml-n2 h5">
        <ol class="breadcrumb" style="background-color: white;">
            <li class="breadcrumb-item"><a href="{{ url_for('index_view') }}">Каталог</a></li>
            <li class="breadcrumb-item active" aria-current="page">Корзина</li>
        </ol>
    </nav>

    {#    <h1 class="h3 my-4">Корзина</h1>#}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if not current_user.is_authenticated %}
        <div class="alert alert-warning" role="alert">Чтобы сделать заказ –
            <a href="{{ url_for('login_view', next=request.path) }}">войдите</a> или <a href="{{ url_for("register_view", next=request.path) }}">зарегистрируйтесь</a>
        </div>
    {% endif %}

    <div class="row mt-5">

        <div class="col-4">
            <form action="{{ url_for('cart_view') }}" method="post">
                {{ form.hidden_tag() }}

                <h4 class="">Ваши данные</h4>

                {% for field in form if field.name not in ['csrf_token', 'submit'] %}
                    <div class="md-4 order-md-1">
                        <div class="mt-3 mb-3">
                            {{ field.label }}

                            {% if field.errors %}
                                {{ field(class_="form-control", autofocus=true) }}
                                {% for err in field.errors %}
                                    <div style="color: red;">{{ err }}</div>
                                {% endfor %}
                            {% else %}
                                {% if field.name == 'phone' %}
                                    {{ field(class_="form-control",
                                        placeholder="9261234567",
                                        autofocus=false) }}
                                {% else %}
                                    {{ field(class_="form-control", autofocus=false) }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                {% if current_user.is_authenticated and cart|length > 0 %}
                    {{ form.submit(class_="mt-3 mb-5 btn btn-danger") }}
                {% endif %}
            </form>
        </div>

        <div class="col-1"></div>
        <div class="col-7">
            {% if not cart|length %}
                <h4 class="mb-3 col-7 mb-5">Корзина пуста</h4>
            {% else %}
                <h4 class="col-7 mb-5">{{ cart|length }} блюд(a) в корзине</h4>
                <table class="table">
                    <tbody>
                    {% for dish in cart %}
                        <tr>
                            <th scope="row">{{ dish.title }}</th>
                            <td></td>
                            <td>1</td>
                            <td>{{ dish.price }}</td>
                            <td>
                                {# <a class="text-danger" href="{{ url_for('delete_from_cart_view', dish_id=dish.id) }}">Удалить</a>#}

                                <form action="{{ url_for('delete_from_cart_view') }}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <input type="hidden" name="dish_id" value="{{ dish.id }}">
                                    <button class="btn btn-link text-danger p-0 mt-n1">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <hr>
                <p class="display-4 my-2 ">{{ cart|sum(attribute='price') }} руб</p>
            {% endif %}
        </div>
    </div>
{% endblock %}