{% extends 'base.html' %}
{% include 'navbar.html' %}

{% include 'jumbotron.html' %}
{% block container %}
    {% for category in categories %}

        <section>
            <h3 class="my-4">{{ category.title }}</h3>
            <div class="row mt-4">

                {% for dish in category.dishes %}

                    <div class="col-12 col-md-4 mb-4 ">
                        <div class="card mb-3 h-100">

                            <img src="{{ url_for('static', filename='pictures/') }}{{ dish.picture }}" width="300" height="200"
                                 class="card-img-top img-fluid" alt="">

                            <div class="card-body">
                                <h4 class="h5 card-title">{{ dish.title }}</h4>
                                <p class="card-text">{{ dish.description }}</p>
                                <a href="{{ url_for('cart_view') }}" class="btn btn-danger">В корзину
                                    ({{ dish.price }}
                                    ₽)</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

    {% endfor %}
{% endblock %}
